<h1>TODOS</h1>
<app-todo-input (onAdd)="addTodo($event)"></app-todo-input>

<div id="list" *ngIf="todoList" class="centered">
    <ul class="ul-todos">
        <ng-container *ngFor="let todo of todoList | async | todoFilter:currentFilter">


            <app-single-todo
                [singleTodo]="todo"
                (onComplete)="completeToggle($event)"
                (onEdit)="editTodo($event)"
                (onRemove)="removeTodo($event)"></app-single-todo>


        </ng-container>
    </ul>
    <div id="footer" class="footer" *ngIf="(todoList | async)?.length>0">
      <app-todofooter [activeCount]="activeCount"
                      [filterOptions]="filterOptions"
                      [completedCount]="completedCount"
                      (onDeleteCompleted)="clearCompleted()"
                      (onFilterSelected)="currentFilter=$event"></app-todofooter>
    </div>
</div>
