<li class="li-nopad" (mouseover)="isHovered = false" (mouseout)="isHovered = true">
    <div>
        <label class="check" [class.hide]="isEdit">
            <input #isComplete type="checkbox"
               [checked]="singleTodo.completed"
               (change)="completeToggle()"
               />
            <span class="checkmark"></span>
        </label>


        <label class="label-name" *ngIf="!isEdit" (dblclick)="isEdit = true; setFocus()">{{singleTodo.name}}</label>
        <button [ngClass]="{'hide' : isHovered}" (click)="removeSingleTodo()"> X</button>
    </div>

    <input #editInput [type]="isEdit ? 'text' : 'hidden'"
           class="edit"
           [(ngModel)]="singleTodo.name"
           #ctrl="ngModel"
           (blur)="editName()"/>

</li>
