<li class="centered-block li-nopad">
    <div class="input-container">

        <input #isComplete type="checkbox" class="check"
               [checked]="singleTodo.completed"
               (change)="completeToggle()"/>


        <label *ngIf="!isEdit" (dblclick)="isEdit = true">{{singleTodo.name}}</label>
        <button class="delete-button" (click)="removeTodo(singleTodo.id)"> X</button>
    </div>

    <input [type]="isEdit ? 'text' : 'hidden'" autofocus
           class="edit"
           [(ngModel)]="singleTodo.name"
           #ctrl="ngModel"
           (blur)="editName()"/>

</li>
